@model PasswordResetViewModelResource
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Şifremi Unuttum</title>
</head>

<body>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="background-color:white">
            <div class="modal-content" style="background-color:white">
                <div class="modal-header" style="background-color:white">
                    <h4 class="modal-title" id="myModalLabel" style="color:white;"><div class="text-dark">Şifremi Unuttum</div></h4>
                    
                    <a asp-action="SignIn" asp-controller="Login"><button type="button" class="btn-default" aria-hidden="true" style="background-color:white;">&times;</button></a>

                </div>
                <div class="modal-body">
                    <form asp-action="ResetPassword" asp-controller="Login" method="post">
                        <div class="text-dark" style="background-color:InfoBackground">E-Mail adresinizi girdikten sonra adresinize bir e-posta gönderilecektir. E-Mailde yazan tek kullanımlık şifrenizle beraber giriş yapabilirsiniz.</div>
                        <div style="margin-top:5px;margin-bottom:10px"> <span asp-validation-for="Email" class="text-danger"></span><input asp-for="Email" type="text" class="form-control" placeholder="Lütfen E-Mail adresinizi giriniz." autocomplete="off"/></div>
                        <div style="margin-top:10px;margin-bottom:5px;">  <button type="submit" class="btn btn-info form-control"> E-Posta Gönder</button> </div>
                        <div><a asp-action="SignIn" asp-controller="Login"><button type="button" class="btn btn-secondary form-control">Çıkış Yap</button></a></div>

                    </form>
                </div>
                <div class="modal-footer">
                    <label class="text-success">@ViewBag.Status</label>
                    <center> <div asp-validation-summary="ModelOnly" class="text-success"></div></center>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/site.js"></script>

</body>
</html>