@model SignInViewModelResource
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/login-form-07/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/login-form-07/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/login-form-07/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/login-form-07/css/style.css">

    <title>Bitirme Projesi</title>
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/login-form-07/images/mağaza.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Giriş Yap</h3>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                               
                            </div>
                            <form action="" method="post">
                                <div class="form-group first">
                                    <span asp-validation-for="@Model.Username"></span>
                                    <input asp-for="@Model.Username" type="text" class="form-control" id="username" placeholder="Kullanıcı Adı Giriniz" autocomplete="off">

                                </div>
                                <div class="form-group last mb-4">
                                    <span asp-validation-for="@Model.Password"></span>
                                    <input asp-for="@Model.Password" type="password" class="form-control" id="password" placeholder="Şifre Giriniz.">

                                </div>

                                <div class="d-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-0">
                                        <span class="caption">Kullanıcı Hatırla</span>
                                        <input type="checkbox" checked="checked" />
                                        <div class="control__indicator"></div>
                                    </label>
                                    <span class="ml-auto"><a asp-action="ResetPassword" asp-controller="Login">Şifremi Unuttum</a></span>
                                </div>
                                
                                <input type="submit" value="Giriş Yap" class="btn btn-block btn-primary">
                                <input asp-action="SignUp" asp-controller="Login" type ="submit" value="Kayıt Ol" class="btn btn-block btn-primary">
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>