@model ProductDTO
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Barkodlu Mağaza Sistemi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Barkodlu Mağaza Sistemi</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">İşlem Sayfası</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="SignIn">Çıkış Yap</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>
<div class="container">
    <form asp-action="GetFilteredProduct" asp-controller="SaleProduct" method="get">
        <input asp-for="Barcode" type="text" class="form-control" autofocus />
        <center><button type="submit" class="btn btn-outline-info" style="margin-top:20px;">Ürün İstatistiği Gör</button></center>
    </form>
</div>
<div class="container" style="margin-top:30px;">
    @if (Model.Barcode != null)
    {
        <table class="table table-dark table-sm">
            <thead>
                <tr>
                    <th scope="col">Günlük Satış (Adet)</th>
                    <th scope="col">Haftalık Satış (Adet)</th>
                    <th scope="col">Aylık Satış (Adet)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewBag.Gunluk Adet satış yapılmaktadır.</td>
                    <td>@ViewBag.Haftalık Adet satış yapılmaktadır.</td>
                    <td>@ViewBag.Aylık Adet satış yapılmaktadır.</td>
                </tr>
            </tbody>
        </table>
    }
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Barkodlu Mağaza Sistemi - <a>Hasan Hüseyin ÇALILI</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
